body {
  background-color: #212121;
  margin: 0;
  /* color: white; */
  /* text-align: center; */
}

/* the Big container css  */

.all-container {
  position: relative;
  background-color: #8e24aa;
  /* text-align: center; */
  border-radius: 10px;
  margin: 10px auto;
  height: 600px;
  width: 800px;

}

/* End the big Container  */


.leds-statue-container {
  background-color: #424242;
  width: 400px;
  height: 200px;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  right: 200px;
  padding: 1.5%;
  top: 10px;
  /* text-align: center; */

}


.button_container {
  background-color: #9e9e9e;
  width: 150px;
  /* height: 110px; */
  border-radius: 5px;
  margin-right: 95%;
  display: inline-block;
  padding: 10px;
  text-align: center;
}


#lighstat {
  color: #e0e0e0;
  font-size: 20pt;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  left: 120px;
}

#primery {}

button {}

.tags-statue {
  display: inline-block;
  font-family: 'Bree Serif', serif;
  font-size: 1.8rem;
  position: absolute;
  /* bottom: 10px; */
  font-weight: 600;
}

#led1-state {
  color: #e65100;
  top: 1%;
}

.action-button {
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
  margin-top: 10px;
  width: 120px;
}



/* 
font-family: 'Bree Serif', serif;

font-family: 'Acme', sans-serif;

font-family: 'Montserrat', sans-serif;
 */