body {
  background-color: #212121;
  margin: 0;
  /* color: white; */
  /* text-align: center; */
}

/* the Big container css  */

.all-container {
  position: relative;
  background-color: #ad1457;
  /* text-align: center; */
  border-radius: 10px;
  margin: 10px auto;
  height: 600px;
  width: 800px;
  padding: 10px;
}

/* End the big Container  */

.leds-statue-container {
  background-color: #424242;
  width: 400px;
  height: 210px;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  right: 220px;
  padding: 1.5%;
  /* top: 10px; */
  /* text-align: center; */
}

.button_container {}

#lighstat {
  color: #e0e0e0;
  font-size: 20pt;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  left: 120px;
}

#primery {}

button {}

.tags-statue {
  display: inline-block;
  font-family: "Bitter", serif;
  font-size: 1.8rem;
  position: absolute;
  /* bottom: 10px; */
  font-weight: 600;
}

#led1-state {
  color: #ff9800;
  top: 3%;
}

.action-button {
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  margin-top: 10px;
  width: 120px;
}

#symbol-ard {
  display: inline-block;
  position: absolute;
  right: 10px;
  border-radius: 5px;
}

.form-one {
  position: absolute;
  top: 210px;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 900;
  margin: 10px 0;

}

#text-group-1 {
  margin: 10px 0;
}

#label-text-area {
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  text-align: right;
  font-weight: bold;
  padding: 3px;
}

#text-area {
  width: 480px;
}



/* 
font-family: 'Bree Serif', serif;

font-family: 'Acme', sans-serif;

font-family: 'Montserrat', sans-serif;
 */