body {
  background-color: #9e9e9e;
  margin: 0;
  /* color: white; */
  /* text-align: center; */
}

/* the Big container css  */

.all-container {
  position: relative;
  background-color: #212121;
  /* text-align: center; */
  border-radius: 10px;
  margin: 10px auto;
  height: 600px;
  width: 800px;
  padding: 10px;
}

/* End the big Container  */

.leds-statue-container {
  background-color: #424242;
  width: 430px;
  height: 230px;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  right: 220px;
  padding: 1.5%;
  /* top: 10px; */
  /* text-align: center; */
}

/* 
font-family: 'Bree Serif', serif;

font-family: 'Acme', sans-serif;

font-family: 'Montserrat', sans-serif;

//*******
font-family: 'Lobster', cursive;
font-family: 'Squada One', cursive;
 */
.button-g1 {
  font-family: 'Squada One', cursive;
}

.btn-g1 {
  background-color: #424242;
  color: #f5f5f5;
}

#lighstat {
  color: #f5f5f5;
  font-size: 25pt;
  font-family: 'Lobster', cursive;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  left: 120px;
}

#lighstat2 {
  color: #f5f5f5;
  font-size: 25pt;
  font-family: 'Lobster', cursive;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  left: 120px;
  top: 70px;
}

#primery {}

button {}

.tags-statue {
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  position: absolute;
  /* bottom: 10px; */
  font-weight: 600;
}

#led1-state {
  color: #ff9800;
  top: 3%;
}

#led2-state {
  color: #ff9800;
  top: 30%;
}


.form-one {
  position: absolute;
  top: 230px;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 900;
  margin: 10px 0;

}

#text-group-1 {
  margin: 10px 0;
}

.btn-g1-text {
  font-size: 17pt;
}

#label-text-area {
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  text-align: right;
  font-weight: bold;
  padding: 3px;
}

#text-area {
  width: 475px;
  text-align: left;
  padding-top: 20px;
  padding-left: 40px;
  font-weight: 900;
}

/* All the Images */
/* ard synbol height="115px" width="200px" */
#symbol-ard {
  display: inline-block;
  position: absolute;
  right: 10px;
  border-radius: 5px;
}

#plant-img {
  position: absolute;
  top: 130px;
  right: 15px;
  width: 200px;
  height: 190px;
}

#led-img {
  position: absolute;
  right: 5px;
  height: 50px;
  top: 10px;
}

#led2-img {
  position: absolute;
  right: 5px;
  height: 50px;
  top: 70px;
}

/* 
font-family: 'Bree Serif', serif;

font-family: 'Acme', sans-serif;

font-family: 'Montserrat', sans-serif;

//*******
font-family: 'Lobster', cursive;
font-family: 'Squada One', cursive;
 */